/* =Link
---------------------------------------------------------------*/
#submit,
a.add,
a.edit,
a.delete,
a.cancel,
a.download,
a.upload,
a.baru,
a.tolak,
a.oyi,
a.jadi,
a.gajadi,
a.excel,
a.pass,
a.detail,
a.buku,
a.setting,
a.pdf {font-size: 9pt; color:white; font-weight:bold;text-decoration: none; border-radius:5px; padding-right:5px;padding-left:20px;padding-top: 3px;  padding-bottom: 3px;background-color:#c51162; background-position: 2px center;   background-repeat: no-repeat;}
#submit:hover,
a.add:hover,
a.edit:hover,
a.delete:hover,
a.cancel:hover,
a.excel:hover,
a.download:hover,
a.upload:hover,
a.baru:hover,
a.tolak:hover,
a.oyi:hover,
a.detail:hover,
a.jadi:hover,
a.gajadi:hover,
a.pass:hover,
a.buku:hover,
a.setting:hover,
a.pdf:hover {color:#DDDDDD;background-color: #666666;}
#submit{background-image:url("../images/simpan.PNG");}
a.setting{background-image:url("../images/setting.png");}
a.add {background-image:url("../images/icon_add.png");}
a.edit {background-image:url("../images/edit.png");}
a.delete {background-image:url("../images/hapus.png");}
a.cancel {background-image:url("../images/back.png");}
a.download{background-image:url("../images/download.png");}
a.upload{background-image:url("../images/upload.png");}
a.detail {background-image:url("../images/detail.png");}
a.baru {background-image:url("../images/tulis.png");}
a.tolak {background-image:url("../images/tolak.png");}
a.oyi{background-image:url("../images/oyi.png");}
a.jadi{background-image:url("../images/jadi.png");}
a.gajadi{background-image:url("../images/gajadi.PNG");}
a.pass{background-image:url("../images/pass.png");}
a.buku{background-image:url("../images/buku.png");}
a.excel {background-image:url("../images/file_excel.png");}
a.pdf {background-image:url("../images/file_pdf.png");}

#katalog{background-color:#8bc34a;border-radius:5px;padding:3px;cursor:pointer;float:right;color:white;}
#katalog a{text-decoration:none; color:white; font-size:14px;}
