/*login*/
body{background-color:white;margin-top:30px;}
#warna_atas{height:300px;background-color:#455ede;width:100%;top:0px;position:fixed;}
#judul{margin-top:0;position:relative;	color:white;font-family:lucida;}
#judul h1{font-weight:normal;}
#content-wrapper{max-width:400px; margin:0 auto;position:relative;}
#content{border-radius:20px;background-color:#fafafa;padding:20px;-moz-box-shadow:0 5px 5px rgba(0,0,0,.28);-webkit-box-shadow:0 5px 5px rgba(0,0,0,.28);box-shadow:0 5px 5px rgba(0,0,0,.28);}

#form_login{background-color:#455a64;border-radius:10px;margin-bottom:5px;}
#form_input{background-color:#455a64;margin-left:20px;border-radius:20px;padding-bottom:20px;}
#form_input input{border-radius:10px;width:80%;border:none;padding:15px;background-color:#eceff1;margin-bottom:20px;}
#form_input p{margin:0;margin-bottom:5px;color:#ffeb3b;padding:0;}
#form_input button{background-color:#e84e40;cursor:pointer;border:none;padding:10px;color:white;border-radius:10%;}
#form_login h5{border-radius:10px;background-color:#0091ea;padding:20px;	font-family:sans-serif;color:white;font-weight:normal;font-size:20px}
#katalog-wrapper{max-width:1200px; margin:0 auto;position:relative;}
#isikatalog{margin-top:0;border-radius:20px;background-color:#e1f5fe;padding:20px;-moz-box-shadow:0 5px 5px rgba(0,0,0,.28);-webkit-box-shadow:0 5px 5px rgba(0,0,0,.28);box-shadow:0 5px 5px rgba(0,0,0,.28);}
#katalog{background-color:#8bc34a;border-radius:10px;padding:7px;cursor:pointer;float:right;color:white;}
#katalog a{text-decoration:none; color:white;}
#login{background-color:#e84e40;border-radius:10px;padding:7px;cursor:pointer;float:right;margin-right:20px;color:white;}
#login a{text-decoration:none; color:white;}
#lupa{padding-bottom:5px;}
#lupa a{color:white; font-size:12px; margin-left:250px;}


/* =Table
---------------------------------------------------------------*/
table{background: white; }
table th{font-weight:bold;text-align:center;padding:10px;border-bottom:double;}
table td{text-align:left;padding:6px 15px; border-bottom: 1px #eaeaea solid;}
table td a {margin-right: 10px;}
.zebra {background:white;}

/* Pagination---------------------------------------------------------------*/
#pagination{margin-bottom:20px;margin-top:20px;color: #212121;}
#pagination a{text-decoration:none;border-radius:10px;background-color:#212121;color:#b3e5fc;padding-top:4px; padding-left:14px; padding-bottom:7px; padding-right:14px;}
#pagination a:hover{background-color:#e51c23;}
#pagination strong {padding-top:4px; padding-left:14px; padding-bottom:7px; padding-right:14px;border-radius:10px;background-color:#e51c23; color:#000000;}

/* hover---------------------------------------------------------------*/

[data-tip]{ position:relative; cursor: pointer; }
[data-tip]:after { position:absolute; display:none; }
[data-tip]::after{ content:attr(data-tip); background:#9ccc65; color:white; padding:10px; border-radius:3px; bottom:-150%; box-shadow:3px 3px 1px rgba(0,0,0,.2); right:-70%; white-space:nowrap; }
[data-tip]:hover::after{ display:block }

/* footer---------------------------------------------------------------*/
#bawah{	margin-left:25px;}
#footer{color:#424242;width:100%;padding:10px;bottom:0;	margin-left:90px;font-size:12px;}

/* about---------------------------------------------------------------*/
#ttg-wrapper{max-width:670px; margin:0 auto;position:relative;}
#about{border-radius:20px;background-color:#fafafa;padding:20px;-moz-box-shadow:0 5px 5px rgba(0,0,0,.28);-webkit-box-shadow:0 5px 5px rgba(0,0,0,.28);box-shadow:0 5px 5px rgba(0,0,0,.28);}
#kiri{width:180px; float:left; margin-left:15px; margin-right:15px;}
#ngisor{margin-left:150px;}

/* =Link
---------------------------------------------------------------*/
#submit,

a.detail{font-size: 9pt; color:white; font-weight:bold;text-decoration: none; border-radius:5px; padding-right:5px;padding-left:20px;padding-top: 3px;  padding-bottom: 3px;background-color:#c51162; background-position: 2px center;   background-repeat: no-repeat;}
a.detail:hover{color:#DDDDDD;background-color: #666666;}
a.detail {background-image:url("../images/detail.png");}