/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;display:block}*{margin:0;padding:0}html{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:&#39;&#39;;content:none}table{border-collapse:collapse;border-spacing:0}

.navbar,.post-feeds,.feed-links{display:none}
.section,.widget{margin:0;padding:0}
strong,b{font-weight:700}
cite,em,i{font-style:italic}
a:link{color:#607d8b;text-decoration:none;outline:none}
a:visited{color:#263238;text-decoration:none}
a:hover{color:#455a64;text-decoration:none}
a img{border:none;border-width:0;outline:none}
abbr,acronym{border-bottom:1px dotted;cursor:help}
sup,sub{vertical-align:baseline;position:relative;top:-.4em;font-size:86%}
sub{top:.4em}
small{font-size:86%}
kbd{font-size:80%;border:1px solid #999;padding:2px 5px;border-bottom-width:2px;border-radius:3px}
mark{background-color:#ffce00;color:#000}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl{margin:1.5em 0}
hr{height:1px;border:none;background-color:#666}
h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal;margin:0 0 .6em}
h1{font-size:2em}
h2{font-size:1.8em}
h3{font-size:1.6em}
h4{font-size:1.4em}
h5{font-size:1.2em}
h6{font-size:1em}
ol,ul,dl{margin:1.5em 0 1.5em 2em}
ol{list-style:decimal outside}
ul{list-style:square outside}
li{margin:.5em 0}
dt{font-weight:700}
dd{margin:0 0 .5em 2em}
input,button,select,textarea{font:inherit;font-size:100%;line-height:normal;vertical-align:baseline}
textarea{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
pre,code{font-family:monospace;color:inherit}
pre{white-space:pre;word-wrap:normal;overflow:auto}
blockquote{background:#e51c23;color:#FAFAFA;margin:0;padding:15px 25px;border-radius:3px}

html{font-family:'Roboto',sans-serif}
body#layout #wrapper{padding:0;overflow-x:hidden}
body#layout #header-wrapper{margin-top:32px}
img{max-width:100%;height:auto;border:0}
table{width:100%}
.clear{clear:both}
.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}

