/* Responsive */
@-wekit-viewport{width:extend-to-zoom;max-zoom:1;min-zoom:1}
@-moz-viewport{width:extend-to-zoom;max-zoom:1;min-zoom:1}
@-ms-viewport{width:extend-to-zoom;max-zoom:1;min-zoom:1}
@-o-viewport{width:extend-to-zoom;max-zoom:1;min-zoom:1}
@viewport{width:extend-to-zoom;max-zoom:1;min-zoom:1}

/* Desktop */
@media only screen and (max-width:1020px){
	#content-wrapper{margin:0 20px}

}

/* Tablet */
@media only screen and (max-width:767px){
	#content-wrapper{max-width:767px;margin-left:0;}
	#headerkecil{display:block;}
	#headerkiri{display:none;}
	#headerkanan{display:none;}
	#headerkirikecil{display:block;	cursor:pointer;}
	#headerkirikecil a{color:white;}
	#headerkanankecil{float:right;width:400px;display:block;color:white;margin-right:0px;}
	#content-left{display:none;}
	#content-right{width:700px;margin-left:10px;margin-right:5px;margin-top:52px;position:relative;}
	#menu{display:none;}
	#menumaster{display:none;}
	#menucilik{display:block;}
	table{padding:10px;font-size:94%;margin-left:10px;}

}

/* Landscape phones */
@media only screen and (max-width:480px){
	#content-wrapper{max-width:480px;}
	#headerkecil{display:block;}
	#headerkiri{display:none;}
	#headerkanan{display:none;}
	#headerkirikecil{display:block;	cursor:pointer;}
	#headerkirikecil a{color:white;}
	#headerkanankecil{display:block;color:white;}
	#content-left{display:none;}
	#content-right{width:480px;margin-left:100px;margin-top:52px;position:relative;}
	#menu{display:none;}
	#menumaster{display:block;}
	#menucilik{display:block;}
	table{padding:10px;font-size:94%;margin-left:10px;}
}